<.header>
  Receipt <%= @receipt.id %>
  <:subtitle>This is a receipt record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/receipts/#{@receipt}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit receipt</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Date"><%= @receipt.date %></:item>
  <:item title="Total price"><%= @receipt.total_price %></:item>
</.list>

<.back navigate={~p"/receipts"}>Back to receipts</.back>

<.modal :if={@live_action == :edit} id="receipt-modal" show on_cancel={JS.patch(~p"/receipts/#{@receipt}")}>
  <.live_component
    module={KazRubdKrWeb.ReceiptLive.FormComponent}
    id={@receipt.id}
    title={@page_title}
    action={@live_action}
    receipt={@receipt}
    patch={~p"/receipts/#{@receipt}"}
  />
</.modal>
