<.header>
  Listing Pricelists
  <:actions>
    <.link patch={~p"/pricelists/new"}>
      <.button>New Pricelist</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="pricelists"
  rows={@streams.pricelists}
  row_click={fn {_id, pricelist} -> JS.navigate(~p"/pricelists/#{pricelist}") end}
>
  <:col :let={{_id, pricelist}} label="Date"><%= pricelist.date %></:col>
  <:action :let={{_id, pricelist}}>
    <div class="sr-only">
      <.link navigate={~p"/pricelists/#{pricelist}"}>Show</.link>
    </div>
    <.link patch={~p"/pricelists/#{pricelist}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, pricelist}}>
    <.link
      phx-click={JS.push("delete", value: %{id: pricelist.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="pricelist-modal" show on_cancel={JS.patch(~p"/pricelists")}>
  <.live_component
    module={KazRubdKrWeb.PricelistLive.FormComponent}
    id={@pricelist.id || :new}
    title={@page_title}
    action={@live_action}
    pricelist={@pricelist}
    patch={~p"/pricelists"}
  />
</.modal>
