<.header>
  Listing Staff
  <:actions>
    <.link patch={~p"/staff/new"}>
      <.button>New Staff</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="staff"
  rows={@streams.staff_collection}
  row_click={fn {_id, staff} -> JS.navigate(~p"/staff/#{staff}") end}
>
  <:col :let={{_id, staff}} label="Full name"><%= staff.full_name %></:col>
  <:action :let={{_id, staff}}>
    <div class="sr-only">
      <.link navigate={~p"/staff/#{staff}"}>Show</.link>
    </div>
    <.link patch={~p"/staff/#{staff}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, staff}}>
    <.link
      phx-click={JS.push("delete", value: %{id: staff.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="staff-modal" show on_cancel={JS.patch(~p"/staff")}>
  <.live_component
    module={KazRubdKrWeb.StaffLive.FormComponent}
    id={@staff.id || :new}
    title={@page_title}
    action={@live_action}
    staff={@staff}
    patch={~p"/staff"}
  />
</.modal>
